.text-purple {
    color: rgb(118, 41, 195);
}

.text-blue {
    color: rgb(56, 111, 220);
}

a.buttons:hover {
    color: rgb(78, 170, 36)
}

a.buttons:active {
    position: relative;
    top: 5px;
}

a.social-links:hover {
    color: rgb(30, 42, 176); 
}

a.social-links:active {
    position: relative;
    top: 5px;
}

/* buradan öncesi eski kodlar */
body {
    margin: 0;
    padding: 0;
}

.clear{
    clear: both;
}

.box {
    padding: 10px;
    margin-right: 10px;

    width: 300px;
    height: 300px;
    float: left;
}

.bg-red {
    background-color: red;
}

.bg-aqua {
    background-color: aquamarine;
}

.bg-yellow {
    background-color: yellow;
}
/*--------------------------*/
.container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.left-bar {
    width: 200px;
    float: left;
}

.content {
    width: 800px;
    float: left;
}

.card {
    width: 20%;
    float: left;
    padding: 3%;
    margin-left: 3%;
    background-color: antiquewhite;
}

.navbox {
    width: 1000px;
    background-color: antiquewhite;
    margin: auto;
}

.nav-buttons {
    padding-top: 0;
    padding-bottom: 0;
}